/* Navbar */
#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: 1px solid #444;
}

/* Showcase */
#showcase {
  height: 100%;
}

.showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home Info Section */
#home-info {
  height: 550px;
}

/* Box */
#features .box {
  float: none;
  width: 100%;
}

#contact-info .box {
  float: none;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #444;
}

/** About Info Section */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}